# This file should be in ~/.config/terminator
[global_config]
[keybindings]
  close_term = <Primary>w
  copy = <Super>c
  new_tab = <Primary>t
  next_tab = <Primary>Tab
  paste = <Super>v
  prev_tab = <Primary><Shift>Tab
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.73
    background_image = None
    background_type = transparent
    cursor_color = "#25C3DC"
    foreground_color = "#00ff00"
    login_shell = True
    palette = "#2c2c2c:#c62828:#458d10:#f9a825:#1565c1:#6a1e9a:#00838f:#ffffff:#969694:#f15250:#86bd47:#f8e63a:#77b2f6:#b963c8:#25c3dc:#ffffff"
    scrollback_infinite = True
  [[material-dark]]
    background_image = None
    cursor_color = "#25C3DC"
    foreground_color = "#00ff00"
    palette = "#2c2c2c:#c62828:#558b2e:#f9a825:#1565c1:#6a1e9a:#00838f:#ffffff:#969694:#f15250:#86bd47:#f8e63a:#77b2f6:#b963c8:#25c3dc:#ffffff"
