[user]
	email = varagrawal@gmail.com
	name = Varun Agrawal
[core]
	autocrlf = true
[alias]
	hist = git log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	st = status
	br = branch
	type = cat-file -t
	dump = cat-file -p